{% extends "front/layout.html" %}

{% block content %}
  <div class="card-body">
    <div class="text-center mt-4 mb-5">
      <p>{{ message }}</p>
    </div>
    <form method="post">
      <div class="form-group">
        <input class="form-control" id="exampleInputEmail1" type="email" aria-describedby="emailHelp" placeholder="{{ placeholder_email }}" name="email">
      </div>
      <input type="submit" class="btn btn-primary btn-block" value="{{ reset_password }}">
    </form>
    <div class="text-center">
      <a class="d-block small" href="login.php?language={{ locale }}"> {{ login_page }} </a>
    </div>
  </div>
{% endblock %}
