{% extends "front/layout.html" %}

{% block content %}

  <div class="card-body">  
  <div class="card-header"> 
    <span class="text-danger"> {{ message }} </span>
  </div>
  <div class="card-body">

    <form method="post">
      <div class="form-group">
        <label for="exampleInputEmail1">{{ email }}</label>
        <input class="form-control" id="exampleInputEmail1" type="email" aria-describedby="emailHelp" placeholder=" {{ placeholder_email }}" name="email">
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">{{ password }}</label>
        <input class="form-control" id="exampleInputPassword1" type="password" placeholder="{{ placeholder_password }}" name="password">
      </div>
      <div class="form-group">
        <div class="form-check">
          <label class="form-check-label">
            <input class="form-check-input" type="checkbox"> {{ remember_password }}</label>
        </div>
      </div>
      <input type="submit" class="btn btn-primary btn-block" value="{{ login }}">
    </form>
        
    <div class="text-center">
      <a class="d-block small" href="forgot.php?language={{ locale }}">{{ forgot_password }}</a>
    </div>
  </div>
{% endblock %}  