{% extends "front/layout.html" %}

{% block content %}    
  <div class="card-body">
    <div class="text-center mt-4 mb-5">
      <h4>{{message}}</h4>
    </div>

    <form method="post" action="?{{url_params}}">
      <div class="form-group">
        <input class="form-control" id="exampleInputPassword1" type="password" placeholder="{{ password  }}" name="new-password">
        <input class="form-control" id="exampleInputPassword2" type="password" placeholder="{{ repeat_password }}" name="new-password-repeat">
      </div>
      <input type="submit" class="btn btn-primary btn-block" value="{{ submit }}">
    </form>
    
    <div class="text-center">
      <a class="d-block small" href="login.php?language={{ locale }}">{{ login }}</a>
    </div>
  </div>
{% endblock %}  