<!-- Logout Modal-->
<div class="modal fade" id="logout-modal" tabindex="-1" role="dialog" aria-labelledby="logout-modal-label" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="logout-modal-label">{{ logout_header }}</h5>
        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">{{ logout_message }}</div>
      <div class="modal-footer">
        <button class="btn btn-secondary" type="button" data-dismiss="modal">{{ cancel }}</button>
        <a class="btn btn-primary" href="/app/views/registration/logout.php?language={{ locale }}">{{ logout }}</a>
      </div>
    </div>
  </div>
</div>