{% if 'DASHBOARD' in menu_arguments %}
{% block dashboard %}
<li class="nav-item" data-toggle="tooltip" data-placement="right" title="Dashboard">
  <a class="nav-link" href="/app/views/admin/dashboard.php">
    <i class="fa fa-fw fa-dashboard"></i>
    <span class="nav-link-text">{{ dashboard }}</span>
  </a>
</li>
{% endblock %}
{% endif %}

{% if 'EXAMS' in menu_arguments %}
{% block exams %}
<li class="nav-item" data-toggle="tooltip" data-placement="right" title="Charts">
  <a class="nav-link" href="#">
    <i class="fa fa-fw fa-area-chart"></i>
    <span class="nav-link-text">{{ exams }}</span>
  </a>
</li>
{% endblock %}
{% endif %}

{% if 'CENTERS' in menu_arguments %}
{% block centers %}
<li class="nav-item" data-toggle="tooltip" data-placement="right" title="Tables">
  <a class="nav-link" href="#">
    <i class="fa fa-fw fa-table"></i>
    <span class="nav-link-text">{{ centers }}</span>
  </a>
</li>
{% endblock %}
{% endif %}

{% if 'CANDIDATE' in menu_arguments %}
{% block candidate %}
<li class="nav-item" data-toggle="tooltip" data-placement="right" title="Components">
  <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapseComponents" data-parent="#exampleAccordion">
    <i class="fa fa-fw fa-user"></i>
    <span class="nav-link-text">{{ candidate }}</span>
  </a>
  <ul class="sidenav-second-level collapse" id="collapseComponents">
    {% if 'NEW' in menu_arguments %}
      {% block new %}
      <li>
        <a href="#">{{ new }}</a>
      </li>
      {% endblock %}
    {% endif %}

    {% if 'OLD' in menu_arguments %}
      {% block old %}
      <li>
        <a href="#">{{old}}</a>
      </li>
      {% endblock %}
    {% endif %}
  </ul>
</li>
{% endblock %}
{% endif %}

{% if 'EXAMS_CENTER' in menu_arguments %}
{% block examcenters %}
<li class="nav-item" data-toggle="tooltip" data-placement="right" title="Example Pages">
  <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapseExamplePages" data-parent="#exampleAccordion">
    <i class="fa fa-fw fa-file"></i>
    <span class="nav-link-text">Εξεταστικά Κέντρα</span>
  </a>
  <ul class="sidenav-second-level collapse" id="collapseExamplePages">
    {% block center1 %}
    <li>
      <a href="#">Κέντρο 1</a>
    </li>
    {% endblock %}

    {% block registration %}
    <li>
      <a href="#">Registration Page</a>
    </li>
    {% endblock %}

    {% block forgot %}
    <li>
      <a href="#">Forgot Password Page</a>
    </li>
    {% endblock %}

    {% block blank2 %}
    <li>
      <a href="#">Blank Page</a>
    </li>
    {% endblock %}
  </ul>
</li>
{% endblock %}
{% endif %}

{% if 'ROLES' in menu_arguments %}
{% block link %}
<li class="nav-item" data-toggle="tooltip" data-placement="right" title="Link">
  <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapseMulti" data-parent="#exampleAccordion">
    <i class="fa fa-fw fa-sitemap"></i>
    <span class="nav-link-text">Roles & Rights</span>
  </a>
  <ul class="sidenav-second-level collapse" id="collapseMulti">
    <li>
      <a href="/app/views/admin/role_rights/role_rights.php">Role Rights</a>
    </li>
    <li>
      <a href="/app/views/admin/role_rights/role.php">Roles</a>
    </li>
    <li>
      <a href="/app/views/admin/role_rights/module.php">Modules</a>
    </li>
  </ul>
</li>
{% endblock %}
{% endif %}

{% if 'USERS' in menu_arguments %}
{% block user %}
<li class="nav-item" data-toggle="tooltip" data-placement="right" title="Tables">
  <a class="nav-link" href="/app/views/admin/user.php">
    <i class="fa fa-fw fa-user"></i>
    <span class="nav-link-text">User</span>
  </a>
</li>
{% endblock %}
{% endif %}