<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
  <a class="navbar-brand" href="https://www.google.com" target="_blank">{{ logo }}</a>
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarResponsive">
    <ul class="navbar-nav navbar-sidenav" id="exampleAccordion">

      {% set menu_arguments = [] %}

      {% for element in elements %}
        {% set menu_arguments = menu_arguments|merge([element.menu_item_code]) %}
      {% endfor %}

      {% include "admin/share/menu_elements.html" with menu_arguments %} 

    </ul>
    {% include "admin/share/topbar.html" %} 
  </div>
</nav>