<!-- Bootstrap core JavaScript-->
<script src="/app/assets/vendor/jquery/jquery.min.js"></script>
<script src="/app/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- Core plugin JavaScript-->
<script src="/app/assets/vendor/jquery-easing/jquery.easing.min.js"></script>
<!-- Page level plugin JavaScript-->

<script src="/app/assets/vendor/datatables/dataTables.bootstrap4.js"></script>
<!-- Custom scripts for all pages-->
<script src="/app/assets/javascripts/admin/sb-admin.min.js"></script>
<!-- Custom scripts for this page-->
<script src="/app/assets/javascripts/admin/sb-admin-datatables.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.12/js/jquery.dataTables.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.13/js/dataTables.bootstrap4.min.js"></script>
<script src="/app/assets/javascripts/admin/admin_extra.js"></script>
<!-- Google Charts -->
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript" src="/app/assets/javascripts/admin/statistics/dashboard.js"></script>
