<!-- Add Modal -->
<div class="modal fade" id="add-modal-user" tabindex="-1" role="dialog" aria-labelledby="addModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addModalLabel">{{ add }}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form method="post" id="add-modal-form" action="{{ action_page }}">
	        <div class="modal-body">
				<div class="form-group">
				    <input type="text" class="form-control mb-2" placeholder="{{ sudoname }}" name ="add-modal-user-sudoname" id="add-modal-user-sudoname" required>
				    <input type="text" class="form-control mb-2" placeholder="{{ firstname }}" name ="add-modal-user-firstname" id="add-modal-user-firstname">			    
				    <input type="text" class="form-control mb-2" placeholder="{{ lastname }}" name ="add-modal-user-lastname" id="add-modal-user-lastname">
				    <input type="email" class="form-control mb-2" placeholder="{{ email }}" name ="add-modal-user-email" id="add-modal-user-email" required>
				    <input type="password" class="form-control mb-2" placeholder="{{ password }}" name ="add-modal-user-password" id="add-modal-user-password" required>

					<select class="bg-primary text-white rounded p-2" name="add-modal-user-role">
						<option class="btn-light">{{ choose }}</option>
						{% for role in all_roles %}
							<option class="btn-light" value="{{ role.role_code }}">{{ role.role_name }}</option>
						{% endfor %}
					</select>
			    </div>
			
	      	</div>
			<div class="modal-footer">
			<input type="submit" name='add-user-modal' class="btn btn-primary" value="{{ submit }}">			
			<button type="button" class="btn btn-secondary" data-dismiss="modal">{{ cancel }}</button>
			</div>
      </form>
    </div>
  </div>
</div>


<!-- Delete Modal -->
<div class="modal fade" id="delete-modal-user" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
	<form method="post" id="delete-modal-form" action="{{ action_page }}">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h5 class="modal-title" id="deleteModalLabel">{{ delete }}</h5>
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">&times;</span>
	        </button>
	      </div>
	      <div class="modal-body">
	      	{{ modal_message }} <b id="delete-modal-value"></b>
	        <input type="hidden" id="delete-modal-hidden-role-right-code" name="delete-modal-hidden-module-code" />
	      </div>
	      <div class="modal-footer">
	        <input type="submit" name='delete-user-modal' class="btn btn-primary" value="{{ delete }}">
	        <button type="button" class="btn btn-secondary" data-dismiss="modal">{{ cancel }}</button>
	      </div>
	    </div>
	  </div>
	</form>
</div>

<!-- Edit Modal -->
<div class="modal fade" id="edit-modal-user_{{ user_id_value }}" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editModalLabel_{{ user_id_value }}">{{ edit }}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <!-- <form method="post" id="edit-modal-form" action="{{ action_page }}"> -->
	      <div class="modal-body">
			  <div class="form-group">
			    <input type="text" class="form-control mb-2" placeholder="{{ user_name_value }}" name ="edit-modal-role-right-code" id="username">
			    <input type="text" class="form-control mb-2" placeholder="{{ user_first_name_value }}" name ="edit-modal-role-right-name" id="firstname">
			    <input type="text" class="form-control mb-2" placeholder="{{ user_last_name_value }}" name ="edit-modal-role-right-name" id="lastname">
			    <input type="email" class="form-control mb-2" placeholder="{{ user_email_value }}" name ="edit-modal-role-right-name" id="email">
			  </div>
			
	      </div>
	      <div class="modal-footer">
	        <a href="#" data-id="{{ user_id_value }}" class="btn btn-primary pull-right">Update</a>
	        <button type="button" class="btn btn-secondary" data-dismiss="modal">{{ cancel }}</button>
	      </div>
      <!-- </form> -->
    </div>
  </div>
</div>