{% extends 'admin/main.html' %}

{% block content %}

	<div class="table-responsive">
		<table class="table table-striped" id="admin-users-table">
		  <thead class="thead-inverse table-dark">
		    <tr>
		      <th>{{ sudoname }}</th>
		      <th>{{ firstname }}</th>
		      <th>{{ lastname }}</th>
		      <th>{{ email }}</th>
		      <th>{{ role }}</th>
		      <th class="text-center">{{ action }}</th>
		    </tr>
		  </thead>
		   <tbody>
		  	{% for user in all_users%}
			    <tr id="{{ user.user_id }}">
			      <td data-target="username" class="align-middle">{{ user.user_name }}</td>
			      <td data-target="firstname" class="align-middle">{{ user.user_first_name }}</td>
			      <td data-target="lastname" class="align-middle">{{ user.user_last_name }}</td>
			      <td data-target="email" class="align-middle">{{ user.user_email }}</td>
			      <td data-target="role" class="align-middle">{{ user.user_role }}</td>
			      <td class="text-center p-0">
			      	<button type="button" id="add-modal" data-toggle="modal" data-target="#add-modal-user" name="add" class="btn btn-info btn-sm" style="margin-left: 5px; padding: 0px 10px;">{{ add }}</button>
			      	
			      </td>
			      	{% include 'admin/users/modal.php' with { 
			 			'user_id_value': user.user_id, 'user_name_value': user.user_name,
			 			'user_first_name_value': user.user_first_name, 'user_last_name_value': user.user_last_name,
			 			'user_email_value': user.user_email, 'role_value': user.user_role 
						}
				  	%}
			    </tr>
		    {% endfor %}
		  </tbody> 
		</table>
	</div>    

{% endblock %}

