/* Dropdown menu topbar.html */
/*.dropdown #topbar-dropdown .btn {background: #343A40;}
.dropdown #topbar-dropdown .btn:hover {background: #212529;}
.dropdown #topbar-dropdown .btn:active {}
.dropdown #topbar-dropdown .btn:focus {}
.dropdown-menu .dropdown-item {display: inline-block; width: 100%;}
#topbar-dropdown  a:hover {}*/
/* End Dropdown menu topbar.html*/

.dropdown-menu #profile-user a {
	color: #343A40;	
}

.dropdown-menu {
	min-width: 120px !important;
}

 #registration-layout{
    background-image: url("/app/assets/images/front/registration/background.jpg");
    background-repeat: no-repeat;
    background-position: top;
    width:100%;
    height:1000px;
    background-color: #80AFDD;
}

#registration-body {
	background-color: #80AFDD;
}

#language-login-switcher{
	float: right;
	padding: 0px;
}


/* Role */
/* //TODO */
.btn-group.btn.btn-block.access button{
    background-color: Transparent !important;
    background-repeat: no-repeat !important;
    border: none !important;
    cursor: pointer !important;
    overflow: hidden !important;
    outline: none !important;
    color: black !important; 
}
/* Tables do not go over 70% of the screen*/
tbody {
    display:block;
    height:75vh;
    overflow:auto;
}

#rights-table tbody{
    display:block;
    height:61vh;
    overflow:auto;
}

thead, tbody tr {
    display:table;
    width:100%;
    table-layout:fixed;
}
thead {
    
}

@media only screen and (max-width: 500px) {
    .inner_search {
    padding: 0px;
    margin: none;
    margin-right: 2px;
}

}
@media only screen and (min-width: 501px) {
  .inner_search {
    padding: 0px;
    margin: auto;
    margin-right: 2px;
  }   
}


/*If you want pagination for data_tables*/
/*.pagination {
    margin: auto;
    margin-right: 0px;
}*/


/* Role */    

