<!-- Add Modal -->
<div class="modal fade" id="add-modal-role-rights" tabindex="-1" role="dialog" aria-labelledby="addModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addModalLabel">{{ add }}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form method="post" id="add-modal-form" action="{{ action_page }}">
	      <div class="modal-body">
			  <div class="form-group">
			    <input type="text" class="form-control mb-2" placeholder="{{ code }}" name ="add-modal-role-right-code" id="add-modal-role-right-code">
			    <input type="text" class="form-control mb-2" placeholder="{{ name }}" name ="add-modal-role-right-name" id="add-modal-role-right-name">
			    {% if action_page == 'module.php' %}
			    	<input type="text" class="form-control mb-2" placeholder="{{ page }}" name ="add-modal-role-right-page" id="add-modal-role-right-page">
			    {% endif %}
			    <input type="hidden" id="add-modal-hidden-code" name="add-modal-hidden-code">
			  </div>
			
	      </div>
	      <div class="modal-footer">
	        <input type="submit" name='add-role-right-modal' class="btn btn-primary" value="{{ submit }}">
	        <button type="button" class="btn btn-secondary" data-dismiss="modal">{{ cancel }}</button>
	      </div>
      </form>
    </div>
  </div>
</div>

<!-- Edit Modal -->
<div class="modal fade" id="edit-modal-role-rights" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editModalLabel">{{ edit }}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form method="post" id="edit-modal-form" action="{{ action_page }}">
	      <div class="modal-body">
			  <div class="form-group">
			    <input type="text" class="form-control mb-2" placeholder="{{ code }}" name ="edit-modal-role-right-code" id="edit-modal-role-right-code">
			    <input type="text" class="form-control mb-2" placeholder="{{ name }}" name ="edit-modal-role-right-name" id="edit-modal-role-right-name">
			    {% if action_page == 'module.php' %}
			    	<input type="text" class="form-control mb-2" placeholder="{{ page }}" name ="edit-modal-role-right-page" id="edit-modal-role-right-page">
			    	<input type="hidden" id="edit-modal-hidden-module-page" name="edit-modal-hidden-module-page">
			    {% endif %}
			    <input type="hidden" id="edit-modal-hidden-module-code" name="edit-modal-hidden-module-code">
			    <input type="hidden" id="edit-modal-hidden-module-name" name="edit-modal-hidden-module-name">
			  </div>
			
	      </div>
	      <div class="modal-footer">
	        <input type="submit" name='edit-role-right-modal' class="btn btn-primary" value="{{ save }}">
	        <button type="button" class="btn btn-secondary" data-dismiss="modal">{{ cancel }}</button>
	      </div>
      </form>
    </div>
  </div>
</div>


<!-- Delete Modal -->
<div class="modal fade" id="delete-modal-role-rights" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
	<form method="post" id="delete-modal-form" action="{{ action_page }}">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h5 class="modal-title" id="deleteModalLabel">{{ delete }}</h5>
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">&times;</span>
	        </button>
	      </div>
	      <div class="modal-body">
	      	{{ modal_message }} <b id="delete-modal-value"></b>
	        <input type="hidden" id="delete-modal-hidden-role-right-code" name="delete-modal-hidden-module-code" />
	      </div>
	      <div class="modal-footer">
	        <input type="submit" name='delete-module' class="btn btn-primary" value="{{ delete }}">
	        <button type="button" class="btn btn-secondary" data-dismiss="modal">{{ cancel }}</button>
	      </div>
	    </div>
	  </div>
	</form>
</div>