{% extends 'admin/main.html' %}

{% block content %}	

	<div class="table-responsive">
		<table class="table table-striped" id="module-table">
		  <thead class="thead-inverse table-dark">
		    <tr>
		      <th>{{ code }}</th>
		      <th>{{ name }}</th>
		      <th>{{ page }}</th>
		      <th class="text-center">{{ action }}<button type="button" id="add-modal" data-toggle="modal" data-target="#add-modal-role-rights" name="add" class="btn btn-info btn-sm" style="margin-left: 5px; padding: 0px 10px;">{{ add }}</button></th>
		    </tr>
		  </thead>
		   <tbody>
		  	{% for module in all_modules%}
			    <tr>
			      <td class="align-middle">{{ module.module_code }}</td>
			      <td class="align-middle">{{ module.module_name }}</td>
			      <td class="align-middle">{{ module.module_page }}</td>
			      <td class="text-center p-0">
			      	<button type="button" rel="{{ module.module_code }}" data-id="{{ module.module_code }} {{ module.module_name }} {{ module.module_page }}" class="btn btn-success edit-modal-role-right" data-toggle="modal" data-target="#edit-modal-role-rights" value="{{module.module_code}}{{ module.module_name }}{{ module.module_page }}">{{ edit }}</button>
			      	<button type="button" rel="{{ module.module_code }}" id="delete-{{module.module_code}}" data-id="{{ module.module_code }}" class="btn btn-danger delete-modal-role-right" data-toggle="modal" data-target="#delete-modal-role-rights">{{ delete }}</button>
			      </td>
			    </tr>
		    {% endfor %}
		  </tbody> 
		</table>
	 	{% include 'admin/role_rights/modal.html' with { 
	 			'code_value': module.module_code, 'name_value': module.module_name,
	 			'page_value': module.module_page 
	 		}
	  	%}
	</div>
	
{% endblock %}