{% extends 'admin/main.html' %}

{% block content %}

	<div class="row" style="margin-bottom: 5px; margin-left: 0px;">
		<div class="col-xs-6 col-md-6">
			<div class="row">
				<div class="col-xs-6">
						<form method="POST" id="role-form">
							<select class="bg-primary text-white rounded p-2" name="selected-role" form="role-form" onchange="this.form.submit()">
								<option class="btn-light">{{ default_role }}</option>
								{% for role in roles %}
									<option class="btn-light" value="{{ role.role_code }}">{{ role.role_name }}</option>
								{% endfor %}
							</select>
						</form>
				</div>
				<div class="col-xs-6" style="float:left; margin-left: 5px; margin-bottom: 5px;">
					{% if edit_class == "edit" %}   							
						{# //TODO #}
						
			    		<div class="btn-group" style="">
						  <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="padding: 8px;">
						    {{ access }}
						  </button>
						  <div class="dropdown-menu">
							<button type="button" class="btn btn-block btn-light" onclick="select_all({{ sizeof_all_modules }}, true)">{{ full_access }}</button>
						    <div class="dropdown-divider"></div>
						    <button type="button" class="btn btn-block btn-light" onclick="select_all({{ sizeof_all_modules }}, false)">{{ no_access}}</button>
						  </div>
						</div>
						{# Form starts here and ends at the bottom of the file #}	
					{% endif %}
				</div>
			</div>

		</div>
	</div>
	<form  method="post" id="checkm_form">
	<div class="table-responsive">
		<table class="table table-striped table-condensed" id="rights-table">
			<thead class="thead-inverse table-dark">
	    		<tr>
	    			<th scope="col" class="text-center">{{ code }}</th>	    			
	    			<th scope="col" class="text-center">{{ add }}</th>
	    			<th scope="col" class="text-center">{{ edit }}</th>
	    			<th scope="col" class="text-center">{{ delete }}</th>
	    			<th scope="col" class="text-center">{{ view }}</th>
	    			<th scope="col" class="text-center">{{ row_access }}</th>
				</tr>
			</thead>

			<tbody>			
				
				{% for module in all_modules %}
					<tr>
						{# Do not change the order. If you want to do that you must change the value and onclick event -1, -2, -3, -4, -5. #}
						<td>{{ module.role_right_module_code }}</td>
						<td>
						<div class="input-group">					
							<input type="checkbox" id="add-{{loop.index}}" name="permissions[]" class="form-check-input w-50 add-{{loop.index}}" {% if module.role_right_row_access %}disabled{% endif %} value="{{module.role_right_id}}-1" {% if module.role_right_add %}checked{% endif %} onclick="view_enabled({{module.role_right_id}}+'-1', 'add-', {{loop.index}})" style="margin:0% 20%;">					
		    			</div>
						</td>
						<td>
						<div class="input-group">					
							<input type="checkbox" id="edit-{{loop.index}}" name="permissions[]" class="form-check-input w-50 edit-{{loop.index}}" {% if module.role_right_row_access %}disabled{% endif %} value="{{module.role_right_id}}-2" {% if module.role_right_edit %}checked{% endif %} onclick="view_enabled({{module.role_right_id}}+'-2', 'edit-', {{loop.index}})" style="margin:0% 20%;">				
		    			</div>
						</td>
						<td>
						<div class="input-group">					
							<input type="checkbox" id="delete-{{loop.index}}" name="permissions[]" class="form-check-input w-50 delete-{{loop.index}}" {% if module.role_right_row_access %}disabled{% endif %} value="{{module.role_right_id}}-3" {% if module.role_right_delete %}checked{% endif %} onclick="view_enabled({{module.role_right_id}}+'-3', 'delete-', {{loop.index}})" style="margin:0% 20%;">				
		    			</div>
						</td>
						<td>
						<div class="input-group">					
							<input type="checkbox" id="view-{{loop.index}}" name="permissions[]" class="form-check-input w-50 view-{{loop.index}}" {% if module.role_right_row_access %}disabled{% endif %} value="{{module.role_right_id}}-4" {% if module.role_right_view %}checked{% endif %} style="margin:0% 20%;">				
		    			</div>
						</td>

						<td>
						<div class="input-group">					
							<input type="checkbox" id="row_access-{{loop.index}}" name="permissions[]" class="form-check-input w-50 row_access-{{loop.index}}" value="{{module.role_right_id}}-5" onclick="select_row({{loop.index}})" {% if module.role_right_row_access %}checked{% endif %} style="margin:0% 20%;">				
		    			</div>
						</td>
					</tr>
				{% endfor %}			

			</tbody>
		</table>
	</div>
	
	{% if edit_class == "edit" %}	
		{# //TODO #}
		<div style="float:right;">					
			<button type="reset" class="btn btn-lg btn-danger" value="Reset" onclick="reset_form({{sizeof_all_modules}})">{{ reset }}</button>
			<input type="submit" class="btn btn-lg btn-success" name="formSubmit" value="{{ submit }}" />
		</div>
	</form>
	{% endif %}	


{% endblock %}