{% extends 'admin/main.html' %}

{% block content %}
	<div class="table-responsive">
		<table class="table table-striped" id="role-table">
		  <thead class="thead-inverse table-dark">
		    <tr>
		      <th>{{ code }}</th>
		      <th>{{ name }}</th>

		      <th class="text-center">{{ action }}<button type="button" id="add-modal" data-toggle="modal" data-target="#add-modal-role-rights" name="add" class="btn btn-info btn-sm" style="margin-left: 5px; padding: 0px 10px;">{{ add }}</button></th>
		    </tr>
		  </thead>
		   <tbody>
		  	{% for role in roles%}
		    <tr>
		      <td class="align-middle">{{ role.role_code }}</td>
		      <td class="align-middle">{{ role.role_name }}</td>
		      <td class="text-center p-0">
			      	<button type="button" rel="{{ role.role_code }}" data-id="{{ role.role_code }} {{ role.role_name }}" class="btn btn-success edit-modal-role-right" data-toggle="modal" data-target="#edit-modal-role-rights" value="{{role.role_code}}{{ role.role_name }}">{{ edit }}</button>
			      	<button type="button" rel="{{ role.role_code }}" id="delete-{{role.role_code}}" data-id="{{ role.role_code }}" class="btn btn-danger delete-modal-role-right" data-toggle="modal" data-target="#delete-modal-role-rights">{{ delete }}</button>
		      </td>

		    </tr>
		    {% endfor %}
		  </tbody> 
		</table>
	 	{% include 'admin/role_rights/modal.html' with { 
	 			'role_code': role.role_code, 'role_name': role.role_name
	 		}
	  	%}
	</div>
{% endblock %}