<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
    {% block head %}
    <title>{% block title %}{% endblock %}</title>
    {% block meta %}{% endblock %}
  {% endblock %}
  <!-- Bootstrap core CSS-->
  <link href="/app/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <!-- Custom fonts for this template-->
  <link href="/app/assets/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <!-- Custom styles for this template-->
  <link href="/app/assets/css/admin/sb-admin.css" rel="stylesheet">
  <link href="/app/assets/css/admin/admin_extra.css" rel="stylesheet">
  
</head>

<body id="registration-body">
  <div class="container-fluid" id="registration-layout">
    <div class="card card-login mx-auto mt-5">
        <div class="card-header"> 
    <div class="row">
      <div class="col-6 ">
        <h4>{{ header }}</h4>
      </div>
      <div class="col-6">
        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" id="language-login-switcher"> {{ language }} <b class="caret"></b></a>
        <ul class="dropdown-menu text-center">
          <li><a href="?{{url_params}}el">{{ greek }}</a></li>
          <div class="dropdown-divider"></div>
          <li><a href="?{{url_params}}en">{{ english }}</a></li>
        </ul>
      </div>
    </div>
      
      {% block content %}{% endblock %}
  
    </div>
  </div>

  <!-- //TODO  ADD SCRIPT FROM SCRIPTS.HTML-->
  <!-- Bootstrap core JavaScript-->
  <script src="/app/assets/vendor/jquery/jquery.min.js"></script>
  <script src="/app/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <!-- Core plugin JavaScript-->
  <script src="/app/assets/vendor/jquery-easing/jquery.easing.min.js"></script>  

</body>

</html>