{% extends 'admin/main.html' %}

{% block content %}

    <div id="chart_div"></div>
    <button id="btn">Fetch Info from World Bank Data API.</button>
    <div id="world-bank-info"></div>

{% endblock %}
