<!DOCTYPE html>
<html lang="en">
<head>

	<meta charset="utf-8">
  	<meta http-equiv="X-UA-Compatible" content="IE=edge">
  	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	{% block head %}
	 	<title>{% block title %}{% endblock %}</title>
	 	<!-- You do not really need meta keys for backend. -->
	 	{% block meta %}{% endblock %}
	{% endblock %}

	<!-- Bootstrap core CSS-->
 	<link href="/app/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  	<!-- Custom fonts for this template-->
  	<link href="/app/assets/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  	<!-- Page level plugin CSS-->
  	<link href="/app/assets/vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet">
  	<!-- Custom styles for this template-->
  	<link href="/app/assets/css/admin/sb-admin.css" rel="stylesheet">
  	<link href="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.12/css/dataTables.bootstrap4.min.css" rel="stylesheet"/>
  	<link href="/app/assets/css/admin/admin_extra.css" rel="stylesheet">
  	

</head>

<body class="fixed-nav sticky-footer bg-dark" id="page-top">

	<!-- You can use that hidden field to take locale in JS.  -->
	<input type="hidden" id="current_locale" value="{{locale}}">

  {% include "admin/share/navbar.html" %}  
  
  <div class="content-wrapper">

	<div class="container-fluid">

		{# main content #}
		{% block content %}{% endblock %}

	</div>  
	
	{% include "admin/share/footer.html" %}

	{% include "admin/share/schroll_up.html" %}

	{% include "admin/share/logout_modal.html" %}

	{% include "admin/share/scrips.html" %}


  </div>

</body>

</html>